.custom-about-team
  margin-top: 3.75rem
  margin-bottom: 3.75rem

  &:nth-of-type(n + 1)
    .custom-about-team__title
      margin-top: 3.75rem

  &__team

    &:nth-of-type(2) svg
      fill: $blue

  &__large-container
    @extend .container--large

  &__col-full
    @extend .col-12
    display: flex
    flex-wrap: wrap
    justify-content: center
