// -----------------------
// color defaults
// -----------------------
$black: #000
$gray: #ccc
$white: #fff
$success: #2fd64c
$danger: #ff0033

// -----------------------
// project colors
// -----------------------

$blue: #26abe3
$green: #94c733
$brownGray: #666666

$opaqueBlue: rgba(38, 171, 227, 0.9)
$opaqueGreen: rgba(148, 199, 51, 0.9)

// -----------------------
// box shadows
// -----------------------

// -----------------------
// overlays
// -----------------------

$ol1: rgba($black, 0.6)
