// -----------------------
// color defaults
// -----------------------
$black: #000
$gray: #ccc
$white: #fff
$success: #2fd64c
$danger: #ff0033

// -----------------------
// project colors
// -----------------------

$c1: #275b81
$c2: #1990b0

// -----------------------
// box shadows
// -----------------------

// -----------------------
// overlays
// -----------------------

$ol1: rgba($black, 0.6)
