*
  box-sizing: border-box

body
  @include desktop
    font-size: 18px
  @include phone
    font-size: 14px

  font-weight: normal
  font-stretch: normal
  font-style: normal
  line-height: normal
  letter-spacing: -0.23px

  text-rendering: optimizeLegibility
  line-height: 1.467
  font-family: $font
  font-size: 16px
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

a
  text-decoration: none
  color: $black

p, li, h2, h3, h4, h5
  margin: 0

input[type=text], input[type=textarea]
  appearance: none
  -webkit-appearance: none

h1
  font-family: 'Libre Baskerville'
  font-size: 42px
  font-weight: normal
  font-stretch: normal
  font-style: normal
  line-height: normal
  letter-spacing: -0.6px

h2
  font-family: 'Libre Baskerville'
  font-size: 30px
  font-weight: normal
  font-stretch: normal
  font-style: normal
  line-height: normal
  letter-spacing: -0.45px

h3
  font-family: 'Libre Baskerville'
  font-size: 18px
  font-weight: normal
  font-stretch: normal
  font-style: normal
  line-height: normal
  letter-spacing: normal

h4
  font-family: 'Nunito'
  font-size: 16px
  font-weight: normal
  font-stretch: normal
  font-style: normal
  line-height: normal
  letter-spacing: normal

.body-small
  font-family: 'Nunito'
  font-size: 16px
  font-weight: normal
  font-stretch: normal
  font-style: normal
  line-height: 1.69
  letter-spacing: -0.2px
