.button
  display: inline-block
  font-family: 'Raleway'
  text-transform: capitalize
  font-size: 18px
  font-weight: 600
  font-stretch: normal
  font-style: normal
  line-height: normal
  border: none
  margin: 0
  outline: none
  padding: 10px 15px
  color: white
  letter-spacing: -0.23px
  text-decoration: none
  -webkit-appearance: none
  text-align: center
  cursor: pointer

  &--outline
    display: block
    transition: background-color .2s ease, color .2s ease
    border: 1px solid $black
    text-align: center

    &:hover
      background-color: $black
      color: $white
