.block-block-photo
  padding: 4rem 0

  &__container
    width: 100%;
    padding: 0 15px
    margin: 0 auto
    max-width: 1170px
    @include tablet
      max-width: 100%

  &__figure
    margin-bottom: 1.5rem
    img
      width: 100%
      max-width: 100%