.custom-patients-rewards

  &__container
    @extend .container
    position: relative
    width: 100%

  &__col-full
    @extend .col-12

  &__title
    margin-bottom: 1rem

    .block-title__container
      padding: 0

  &__background
    position: relative
    width: 100%
    height: 50rem

  &__text
    position: absolute
    background-color: $green
    color: $white
    padding: 1.25rem 2.5rem
    max-width: 500px