.block-title

  &__container
    @extend .container
    @extend .flex-column
    justify-content: flex-start

  &__title
    @extend .col-12
    @extend h1

  &__underline
    margin: 0

    svg
      max-width: 300px