.block-title

  &__container
    @extend .container
    @extend .flex-column
    justify-content: flex-start

  &__title
    @extend .col-12
    @extend h1

  hr
    border: 1px solid $green
    width: 50%
    margin: 0