.the-footer-desktop
  padding-bottom: 3.75rem
  display: flex

  &__left-container
    flex: 1 1 0

    .the-footer-desktop__title
      padding-right: 2.25rem
      justify-content: flex-end
      background-color: $blue

    .the-footer-desktop__content
      display: flex
      justify-content: flex-end

  &__logo-container
    @extend .flex-column-center
    flex: 2 1 0

  &__logo
    width: 240px
    height: 145px
    cursor: pointer
    transition: transform .3s ease

    &:hover
      transform: translate(0,-3px)

  &__logo-text
    margin-top: 1.5rem
    font-size: 12px


  &__right-container
    flex: 1 1 0

    .the-footer-desktop__title
      padding-left: 2.25rem
      justify-content: flex-start
      background-color: $green

    .the-footer-desktop__content
      display: flex
      justify-content: flex-start

  &__title
    display: flex
    align-items: center
    @extend h3
    height: 55px
    width: 100%
    color: $white

  &__icon
    @extend .flex-column-center
    height: 45px
    width: 45px
    border-radius: 100%
    background-color: #365491
    border: 1px solid transparent
    cursor: pointer

    svg
      fill: $white
      height: 30px
      width: 30px

    &:hover
      background-color: $white
      border: 1px solid #365491
      fill: $green

      svg
        fill:#365491

    &:nth-of-type(2)
      border: 1px solid transparent
      background-color: transparent
      background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%)
      margin-left: 1rem
      border: 0

      &:hover
        background: $white
        border: 1px solid #d6249f

        svg
          fill: #d6249f

  &__text
    @extend h4

  &__content
    padding: 1rem 0

  &__flex-column
    @extend .flex-column

