.block-employee-tile
  position: relative
  width: 288px
  height: 384px
  margin: 1rem .5rem
  overflow: hidden
  cursor: pointer

  &:nth-of-type(2n)
    .block-employee-tile__name
      background-color: $green
    .block-employee-tile__employee-info
      background-color: $green
    .block-employee-tile__bio
      background-color: $green

  &--active
    overflow: scroll
    .block-employee-tile__employee-info
      top: 0

    .block-employee-tile__bio
      overflow: visible
      height: auto

  &__employee-info
    position: absolute
    width: 100%
    height: 100%
    background-color: $blue
    color: $white
    transition: top .3s ease
    top: 77%

  &__name
    @extend h3
    @extend .flex-row-center
    color: $white
    background-color: $blue
    padding: 2rem 1rem
    // pointer-events: none

  &__bio
    padding: 0 .75rem 2rem .75rem
    background-color: $blue
    height: 0
    overflow: hidden
