.custom-about-doctor
  &__wrapper
    width: 100%
    display: flex
    justify-content: center

  &__title
    margin-top: 3.75rem
    margin-bottom: 3.75rem

  &__container
    @extend .container

  &__col-full
    @extend .col-12
    display: flex

  &__title-container

  &__section-title
    @extend h2

    @include phone-lg
      font-size: 24px

    @include phone
      font-size: 18px

  &__icon
    margin-top: -10px
    display: none
    fill: $green

  &__title-container
    margin: 0 1rem
    cursor: pointer
    color: #696969

    &:first-of-type
      margin-left: 0

    &:last-of-type
      margin-right: 0

    &--active
      color: $green

      &:hover
        color: $green !important

      .custom-about-doctor__icon
        display: block

    &:hover
      color: black

    @include tablet
      margin: 0 .5rem

  &__photo
    height: 30rem
    width: 20rem
    margin-left: 50%
    @include tablet
      margin-left: 0
      margin-top: 20rem

    &--personal
      height: 60rem
      @media only screen and (max-width: 576px)
        height: 65rem!important
        background-size: 73rem!important
        background-position-y: 75%!important
        background-position-x: 53%!important

  &__section-content
    position: absolute
    background-color: $green
    color: $white
    padding: 1.25rem 2.5rem
    max-width: 500px

    @include tablet
      left: 0
      width: 100%
      max-width: 100%
