.custom-contact-form

  &__container
    @extend .container

  &__col
    @extend .col-12
    @extend .flex-column-center

    .block-title
      width: 100%
      text-align: center

  &__title

  &__form
    width: 70% !important
    margin: auto