.the-footer
  width: 100%

  &__desktop
    @media (min-width: 0) and (max-width: $screen-tablet-lg)
      display: none

  &__mobile
    @media (min-width: $screen-tablet-lg) and (max-width: 10000000px)
      display: none
