.the-footer
  width: 100%

  &__desktop
    @media (min-width: 0) and (max-width: $screen-tablet-lg)
      display: none

  &__mobile
    @media (min-width: $screen-laptop) and (max-width: $screen-desktop)
      display: none


