.custom-home-welcome
  padding-top: 3.75rem
  padding-bottom: 3.75rem

  &__title
    margin-bottom: 1rem

  &__sub-title
    @extend h2
    background-color: $blue
    color: $white
    padding: 20px 0px 20px 40px
    width: 90%
    margin-left: auto

    @include tablet
      width: 100%
      text-align: center

  &__section
    position: relative

  &__container
    @extend .container

  &__col-full
    @extend .col-12

  &__flex
    display: flex
    align-items: center

    @include tablet
      flex-direction: column-reverse

  &__flex-center
    @extend .flex-column-center
    margin-top: 2.5rem

  &__text
    width: 50%
    margin-right: 1rem

    @include tablet
      margin: 0

  &__img
    height: 350px
    width: 475px
    width: 50%
    margin-left: 1rem

    @include tablet
      margin: 0

  &__background
    position: absolute
    background-color: rgba(148, 199, 51, 0.65)
    height: 235px
    width: 50%
    top: 50%
    right: 0
    transform: translate(0,-50%)
    z-index: -1

    @include tablet
      width: 100%

  &__schedule-text
    font-weight: bold

  &__button
    @extend .button
    margin-top: 1.25rem
    background-color: $blue