.custom-about-tour
  margin-bottom: 3.75rem

  &__container
    position: relative
    width: 100%
    display: flex
    justify-content: space-evenly
    flex-wrap: wrap

  &__title
    text-align: center

  &__3d-tour, &__image-carousel
    margin: 20px 0

  &__image-carousel
    width: 853px